<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ImagePath" value="D:\Work\研发\wechat\sandbox\WechatTest\WechatTest\Temp\"/>
    <add key="token" value="mandesktest"/>
    <add key="secret" value="06c1700b7a4ead7dc4a51e62714feb45"/>
    <add key="appid" value="wxde5cb829d172ed53"/>
  </appSettings>
  <connectionStrings>
    <add name="db" connectionString="Server=35e0ee78-f8e5-4961-85ad-a4790084c99e.sqlserver.sequelizer.com;Database=db35e0ee78f8e5496185ada4790084c99e;User ID=khnkebztfbhznyfz;Password=vrAFVSWWjbegXwS7y5VrvySvVD5KXuFFTenqvEnQCSoi8W6ZutEJm4H6GfSqVk7X;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
